body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER CONFIGURATION */

div.header.darkMode {
  background-color: rgba(0, 0, 0, 0.815);
}

div.header.lightMode {
  background-color: white;
}

/* NAVEGATION BAR CONFIGURATION */

header ul.lightMode li {
  color: black;
  border-bottom: 2px solid white;
}

header ul.lightMode li:hover {
  border-bottom: 2px solid #3b5998;
  color: #3b5998;
}

header ul.darkMode li {
  color: rgba(255, 255, 255, 0.685);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

header ul.darkMode li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.685);
}

/* BUTTON CONFIGURATION */

header button.lightMode {
  border: 1px solid black;
  background-color: white;
}

header button.lightMode:hover {
  background-color: rgba(128, 128, 128, 0.616);
  color: aliceblue;
  border: 1px solid;
}

header button.darkMode {
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
}

header button.darkMode:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
}

/* MAIN CONFIGURATION */

main {
  text-align: left;
  margin: 3rem auto;
  max-width: 45%;
}
